<%#
<form action="/tasks" method="post">
  <div data-turbo="false">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token">

    <label for="title">Title:</label>
    <input type="text" id="title" name="task[title]"><br><br>
    <label for="description">Description:</label>
    <textarea id="description" name="task[description]" rows="4" cols="50"></textarea><br><br>
    <label for="date">Date:</label>
    <input type="date" id="date" name="task[due_date]">
    <input type="submit" value="Submit">
  </div>
</form>
%>

<%= form_with model: @task do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title, placeholder: "Title" %><br><br>
  <%= form.label :description %>
  <%= form.textarea :description, size: "50x4" %><br><br>
  <%= form.label :date %>
  <%= form.date_field :due_date %><br><br>
  <%= form.submit "Submit" %>
<% end %>
